<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>Laboratorium Manajemen Menengah | portal</title>
</head>
<body>
    <!-- Navbar -->
        <header class="border-l-orange-100  h-screen  bg-cover bg-right-center bg-no-repeat  bg-blend-multiply" style="background-image: url('./images/bg_gedung.jpg');">
          <div class="absolute inset-0 bg-black opacity-50 z-0"></div>
            <div class="mx-auto max-w-screen-2xl px-2 py-4 sm:px-6 sm:py-4 lg:px-14 relative z-10">
              <div class="flex flex-col items-start gap-4 md:flex-row md:items-center md:justify-between">
                <div class="flex">
                    <img src="/images/Ellipse_4.png" alt="" class="inline-block h-9 w-9 ml-2">
                    <h1 class="text-lg text-white font-montserrat font-bold px-2 flex items-center space-x-2">VLab
                    <span class="text-white font-normal">Mamen</span></h1>
                </div>
          
                <div class="flex items-center gap-4">
                  <a
                    class="group relative inline-block overflow-hidden hover:shadow-md rounded-lg  px-14 py-2 text-sm font-bold text-white focus:outline-none focus:ring"
                    href="/"
                  >
                    <span
                      class="absolute inset-y-0 left-0 w-[2px] bg-customPurple transition-all group-hover:w-full group-active:bg-customPurple"
                    ></span>

                    <span
                      class="relative text-sm font-medium text-white transition-colors group-hover:text-white"
                    >
                      Admin
                    </span>
                  </a>
                </div>
              </div>  
                <div class="flex px-3 h-16 mt-1 max-w-screen-xl">
                  <div class="flex flex-1 items-center md:justify-between">
                    <nav aria-label="Global" class="hidden md:block">
                      <ul class="flex items-center gap-6 text-base">
                        <li>
                          <a class="text-white transition hover:text-zinc-300 hover:underline" href="#about"> Gambaran Umum</a>
                        </li>
              
                        <li>
                          <a class="text-white transition hover:text-zinc-300 hover:underline" href="#"> Struktur Organisasi & Personalia </a>
                        </li>
              
                        <li>
                          <a class="text-white transition hover:text-zinc-300 hover:underline" href="#"> Aktivitas & Visi Misi </a>
                        </li>
              
                        <li>
                          <a class="text-white transition hover:text-zinc-300 hover:underline" href="#activity"> Praktikum & Ilab </a>
                        </li>
              
                        <li>
                          <a class="text-white transition hover:text-zinc-300 hover:underline" href="#"> Latest News </a>
                        </li>

                        <li>
                          <a class="text-white transition hover:text-zinc-300 hover:underline" href="#"> Download Software </a>
                        </li>
              
                        
                      </ul>
                    </nav>
                </div>
            </div>
          </div>

          <!-- Banner -->
            <div class="relative z-20 mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-6  lg:py-11">
              <div class="grid grid-cols-1 gap-8 lg:grid-cols-[2fr_1fr] lg:gap-16">
                <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 my-auto lg:top-24 lg:order-last lg:h-44">
                  <img
                    alt=""
                    src="https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                    class="absolute inset-0 h-full w-full object-cover"
                  />
                </div>
          
                <div class="lg:py-10 ">
                  <h2 class="text-7xl text-white font-normal font-montserrat">Virtual Laboratorium<br><span class="font-bold"> Manajemen</span> Menengah</h2>
          
                  <p class="mt-4 text-white font-medium">
                    "Portal Virtual Lab merupakan layanan pembelajaran online yang digunakan untuk mendukung proses belajar mengajar oleh asisten dan mahasiswa"
                  </p>
          
                  <a
                    class="group relative inline-flex items-center overflow-hidden rounded-md bg-customPurple px-12 py-3 mt-8 text-white focus:outline-none focus:ring active:bg-indigo-500"
                    href="#"
                  >
                    <span class="absolute -end-full transition-all group-hover:end-4">
                      <svg
                        class="size-5 rtl:rotate-180"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M17 8l4 4m0 0l-4 4m4-4H3"
                        />
                      </svg>
                    </span>

                    <span class="text-sm font-medium transition-all group-hover:me-4"> Praktikum </span>
                  </a>
                </div>
              </div>
            </div>          
        </header>

        <main>
          <section class="h-screen bg-zinc-900 " id="about">
            <div class="grid grid-cols-1 gap-4 max-w-screen-xl mx-auto py-20 lg:grid-cols-4 lg:gap-14">
              <div class="h-52 rounded-lg  lg:col-span-2">
                <h1 class="text-md text-white font-montserrat font-bold px-2 flex items-center space-x-2">About Us</h1>
                <h2 class="text-4xl pl-3 pt-10 tracking-widest leading-tight text-white font-medium font-montserrat">GAMBARAN<br>UMUM</h2>
                <a
                class="group relative inline-flex items-center overflow-hidden rounded-md pr-10 py-3 ml-3 mt-3 text-customPurple focus:outline-none focus:ring active:bg-indigo-500"
                href="#"
              >
                <span class="absolute -end-full transition-all group-hover:end-4">
                  <svg
                    class="size-5 rtl:rotate-180"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M17 8l4 4m0 0l-4 4m4-4H3"
                    />
                  </svg>
                </span>

                <span class="text-sm font-medium transition-all group-hover:me-4"> Read More</span>
              </a>
              </div>

              <div class="h-52 rounded-lg ">
                <p class="mt-3 text-sm text-white font-normal">
                  Laboratorium Manajemen Menengah (Lab-MM) adalah suatu unit kerja yang bertanggung jawab pada kegiatan praktikum mata kuliah penunjang dan praktikum mandiri di lingkungan Universitas Gunadarma. Lab-MM ini telah melaksanakan kegiatannya sejak tahun 1994, mengembangkan program aplikasi Manajemen Keuangan, Manajemen Operasional dan Riset Operasional. Pada perkembangannya saat ini telah meluncurkan modul praktikum dengan program aplikasi yang diperuntukan bagi mahasiswa Program Diploma Tiga Bisnis dan Kewirausahaan (D3-BK)
                </p>
              </div>
              <div class="h-52 rounded-lg">
                <p class="mt-3 text-sm text-zinc-500 font-normal">
                  Lab-MM memberikan pengajaran berdasarkan Kurikulum dan Satuan Acara Praktek (AP) yang berbasis teknologi informasi. Mahasiswa mengikuti praktikum diharapkan mampu memecahkan masalah-masalah manajemen dan membuat keputusan-keputusan manajemen dengan bantuan teknologi komputer.
                </p>
              </div>
              
            </div>
            <div class="max-w-screen-xl mx-auto my-32">
              <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 my-auto lg:h-44 lg:mb-5 lg:order-last">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                class="absolute inset-0 h-full w-full object-cover"
              />
              </div>
            </div>
          </section>

          <!-- Activity -->
          <section class="h-screen bg-slate-100" id="activity">
            <div class="grid grid-cols-1 max-w-screen-xl   mx-auto pt-20 lg:gap-14">
              <div class="h-52 rounded-lg lg:col-span-2 flex justify-between relative">
                <div class="">
                  <h1 class="text-md text-black font-montserrat font-bold px-2 flex items-center space-x-2">Activity</h1>
                  <h2 class="text-4xl pl-3 pt-10 tracking-widest leading-tight text-black font-medium font-montserrat">
                    PRAKTIKUM<br>& ILAB
                  </h2>
                </div>
          
                <div class="absolute bottom-10 right-0">
                  <a class="group relative inline-flex items-center overflow-hidden rounded-md pr-10 py-3 mr-3 mb-3 text-customPurple focus:outline-none focus:ring active:bg-indigo-500" href="#">
                    <span class="absolute -end-full transition-all group-hover:end-4">
                      <svg class="size-5 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                      </svg>
                    </span>
          
                    <span class="text-sm font-medium transition-all group-hover:me-4"> READ MORE</span>
                  </a>
                </div>
              </div>
            </div>

            <div class="grid grid-cols-1 gap-4 max-w-screen-xl mx-auto lg:grid-cols-4 lg:gap-8">
              <div class="h-32 rounded-lg bg-gray-200"><a href="#" class="group relative block h-72 rounded-xl shadow-lg bg-slate-600">
                <span class="absolute inset-0 border-2 border-dashed border-black "></span>
                <div
                  class="relative flex h-full transform items-end border-2 border-black rounded-lg bg-zinc-300 transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2"
                >
                  <div
                    class="p-4 !pt-0 transition-opacity group-hover:absolute rounded-lg group-hover:opacity-0 sm:p-6 lg:p-8"
                  >
                  <svg class="size-10 sm:size-12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 10C14.2091 10 16 8.20914 16 6C16 3.79086 14.2091 2 12 2C9.79086 2 8 3.79086 8 6C8 8.20914 9.79086 10 12 10Z" fill="#1C274C"/>
                    <path d="M2.72778 5.81803C2.62732 5.41619 2.22012 5.17186 1.81828 5.27233C1.41643 5.37279 1.17211 5.77999 1.27257 6.18184L1.65454 7.7097C2.3593 10.5287 4.49604 12.7495 7.25018 13.5787L7.25018 18.0519C7.25015 18.9504 7.25012 19.6996 7.33009 20.2944C7.41449 20.9222 7.60016 21.489 8.05563 21.9445C8.5111 22.3999 9.0779 22.5856 9.7057 22.67C10.3005 22.75 11.0497 22.75 11.9482 22.7499H12.0522C12.9507 22.75 13.6999 22.75 14.2947 22.67C14.9225 22.5856 15.4892 22.3999 15.9447 21.9445C16.4002 21.489 16.5859 20.9222 16.6703 20.2944C16.7502 19.6996 16.7502 18.9504 16.7502 18.052L16.7502 13.859C17.7313 14.1514 18.4808 15.0039 18.6058 16.067L19.2553 21.5876C19.3037 21.9989 19.6764 22.2932 20.0878 22.2448C20.4992 22.1964 20.7934 21.8237 20.745 21.4123L20.0956 15.8918C19.8512 13.815 18.0912 12.2499 16.0002 12.2499H8.0847C5.64125 11.6764 3.71957 9.78517 3.10975 7.3459L2.72778 5.81803Z" fill="#1C274C"/>
                  </svg>
              
                    <h2 class="mt-4 text-xl font-medium sm:text-2xl">Peraturan</h2>
                  </div>
              
                  <div
                    class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100 sm:p-6 lg:p-8"
                  >
                    <h3 class="mt-4 text-xl font-medium sm:text-2xl">Go around the world</h3>
              
                    <p class="mt-4 text-sm sm:text-base">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, praesentium voluptatem
                      omnis atque culpa repellendus.
                    </p>
              
                    <p class="mt-8 font-bold">Read more</p>
                  </div>
                </div>
              </a></div>
              
              <div class="h-32 rounded-lg bg-gray-200"><a href="#" class="group relative block h-72 rounded-xl shadow-lg bg-slate-600">
                <span class="absolute inset-0 border-2 border-dashed border-black "></span>
                <div
                  class="relative flex h-full transform items-end border-2 border-black rounded-lg bg-zinc-300 transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2"
                >
                  <div
                    class="p-4 !pt-0 transition-opacity group-hover:absolute rounded-lg group-hover:opacity-0 sm:p-6 lg:p-8"
                  >
                  <svg fill="#000000" class="size-10 sm:size-12" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                  viewBox="0 0 512 512" xml:space="preserve">
               <g>
                 <g>
                   <path d="M221.867,0H30.72c-9.425,0-17.067,7.641-17.067,17.067v477.867c0,9.425,7.641,17.067,17.067,17.067h191.147
                     c9.425,0,17.067-7.641,17.067-17.067V17.067C238.933,7.641,231.292,0,221.867,0z M126.293,448.284
                     c-26.977,0-48.924-21.948-48.924-48.924c0-26.977,21.948-48.924,48.924-48.924s48.924,21.948,48.924,48.924
                     C175.218,426.337,153.27,448.284,126.293,448.284z M158.151,303.787H94.436c-9.425,0-17.067-7.641-17.067-17.067
                     c0-9.425,7.641-17.067,17.067-17.067h63.716c9.425,0,17.067,7.641,17.067,17.067C175.218,296.145,167.576,303.787,158.151,303.787
                     z M158.151,242.347H94.436c-9.425,0-17.067-7.641-17.067-17.067s7.641-17.067,17.067-17.067h63.716
                     c9.425,0,17.067,7.641,17.067,17.067S167.576,242.347,158.151,242.347z M175.218,144.498c0,9.425-7.641,17.067-17.067,17.067
                     H94.436c-9.425,0-17.067-7.641-17.067-17.067V80.782c0-9.425,7.641-17.067,17.067-17.067h63.716
                     c9.425,0,17.067,7.641,17.067,17.067V144.498z"/>
                 </g>
               </g>
               <g>
                 <g>
                   <path d="M481.28,0H290.133c-9.425,0-17.067,7.641-17.067,17.067v477.867c0,9.425,7.641,17.067,17.067,17.067H481.28
                     c9.425,0,17.067-7.641,17.067-17.067V17.067C498.347,7.641,490.705,0,481.28,0z M385.707,448.284
                     c-26.977,0-48.924-21.948-48.924-48.924c0-26.977,21.948-48.924,48.924-48.924s48.924,21.948,48.924,48.924
                     C434.631,426.337,412.683,448.284,385.707,448.284z M417.564,303.787h-63.716c-9.425,0-17.067-7.641-17.067-17.067
                     c0-9.425,7.641-17.067,17.067-17.067h63.716c9.425,0,17.067,7.641,17.067,17.067C434.631,296.145,426.99,303.787,417.564,303.787z
                      M417.564,242.347h-63.716c-9.425,0-17.067-7.641-17.067-17.067s7.641-17.067,17.067-17.067h63.716
                     c9.425,0,17.067,7.641,17.067,17.067S426.99,242.347,417.564,242.347z M434.631,144.498c0,9.425-7.641,17.067-17.067,17.067
                     h-63.716c-9.425,0-17.067-7.641-17.067-17.067V80.782c0-9.425,7.641-17.067,17.067-17.067h63.716
                     c9.425,0,17.067,7.641,17.067,17.067V144.498z"/>
                 </g>
               </g>
               </svg>
              
                    <h2 class="mt-4 text-xl font-medium sm:text-2xl">Mater</h2>
                  </div>
              
                  <div
                    class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100 sm:p-6 lg:p-8"
                  >
                    <h3 class="mt-4 text-xl font-medium sm:text-2xl">Go around the world</h3>
              
                    <p class="mt-4 text-sm sm:text-base">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, praesentium voluptatem
                      omnis atque culpa repellendus.
                    </p>
              
                    <p class="mt-8 font-bold">Read more</p>
                  </div>
                </div>
              </a></div>
              
              <div class="h-32 rounded-lg bg-gray-200"><a href="#" class="group relative block h-72 rounded-xl shadow-lg bg-slate-600">
                <span class="absolute inset-0 border-2 border-dashed border-black "></span>
                <div
                  class="relative flex h-full transform items-end border-2 border-black rounded-lg bg-zinc-300 transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2"
                >
                  <div
                    class="p-4 !pt-0 transition-opacity group-hover:absolute rounded-lg group-hover:opacity-0 sm:p-6 lg:p-8"
                  >
                  <svg version="1.1" fill="#000000" class="size-10 sm:size-12" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                    viewBox="0 0 512 512"  xml:space="preserve">
                  <style type="text/css">
                    .st0{fill:#000000;}
                  </style>
                  <g>
                    <rect x="119.256" y="222.607" class="st0" width="50.881" height="50.885"/>
                    <rect x="341.863" y="222.607" class="st0" width="50.881" height="50.885"/>
                    <rect x="267.662" y="222.607" class="st0" width="50.881" height="50.885"/>
                    <rect x="119.256" y="302.11" class="st0" width="50.881" height="50.885"/>
                    <rect x="267.662" y="302.11" class="st0" width="50.881" height="50.885"/>
                    <rect x="193.46" y="302.11" class="st0" width="50.881" height="50.885"/>
                    <rect x="341.863" y="381.612" class="st0" width="50.881" height="50.885"/>
                    <rect x="267.662" y="381.612" class="st0" width="50.881" height="50.885"/>
                    <rect x="193.46" y="381.612" class="st0" width="50.881" height="50.885"/>
                    <path class="st0" d="M439.277,55.046h-41.376v39.67c0,14.802-12.195,26.84-27.183,26.84h-54.025
                      c-14.988,0-27.182-12.038-27.182-26.84v-39.67h-67.094v39.297c0,15.008-12.329,27.213-27.484,27.213h-53.424
                      c-15.155,0-27.484-12.205-27.484-27.213V55.046H72.649c-26.906,0-48.796,21.692-48.796,48.354v360.246
                      c0,26.661,21.89,48.354,48.796,48.354h366.628c26.947,0,48.87-21.692,48.87-48.354V103.4
                      C488.147,76.739,466.224,55.046,439.277,55.046z M453.167,462.707c0,8.56-5.751,14.309-14.311,14.309H73.144
                      c-8.56,0-14.311-5.749-14.311-14.309V178.089h394.334V462.707z"/>
                    <path class="st0" d="M141.525,102.507h53.392c4.521,0,8.199-3.653,8.199-8.144v-73.87c0-11.3-9.27-20.493-20.666-20.493h-28.459
                      c-11.395,0-20.668,9.192-20.668,20.493v73.87C133.324,98.854,137.002,102.507,141.525,102.507z"/>
                    <path class="st0" d="M316.693,102.507h54.025c4.348,0,7.884-3.513,7.884-7.826V20.178C378.602,9.053,369.474,0,358.251,0H329.16
                      c-11.221,0-20.349,9.053-20.349,20.178v74.503C308.81,98.994,312.347,102.507,316.693,102.507z"/>
                  </g>
                  </svg>
              
                    <h2 class="mt-4 text-xl font-medium sm:text-2xl">Jdwal</h2>
                  </div>
              
                  <div
                    class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100 sm:p-6 lg:p-8"
                  >
                    <h3 class="mt-4 text-xl font-medium sm:text-2xl">Go around the world</h3>
              
                    <p class="mt-4 text-sm sm:text-base">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, praesentium voluptatem
                      omnis atque culpa repellendus.
                    </p>
              
                    <p class="mt-8 font-bold">Read more</p>
                  </div>
                </div>
              </a></div>
              
              <div class="h-32 rounded-lg bg-gray-200"><a href="#" class="group relative block h-72 rounded-xl shadow-lg bg-slate-600">
                <span class="absolute inset-0 border-2 border-dashed border-black "></span>
                <div
                  class="relative flex h-full transform items-end border-2 border-black rounded-lg bg-zinc-300 transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2"
                >
                  <div
                    class="p-4 !pt-0 transition-opacity group-hover:absolute rounded-lg group-hover:opacity-0 sm:p-6 lg:p-8"
                  >
                  <svg wclass="size-10 sm:size-12" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 1V15H12V1H4ZM10 5V3H6V5H10Z" fill="#000000"/>
                    <path d="M16 15H14V5H16V15Z" fill="#000000"/>
                    <path d="M2 5H0V15H2V5Z" fill="#000000"/>
                    </svg>
              
                    <h2 class="mt-4 text-xl font-medium sm:text-2xl">ILAB</h2>
                  </div>
              
                  <div
                    class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100 sm:p-6 lg:p-8"
                  >
                    <h3 class="mt-4 text-xl font-medium sm:text-2xl">Go around the world</h3>
              
                    <p class="mt-4 text-sm sm:text-base">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, praesentium voluptatem
                      omnis atque culpa repellendus.
                    </p>
              
                    <p class="mt-8 font-bold">Read more</p>
                  </div>
                </div>
              </a></div>
            </div>
          </section>

          <!-- Slider -->
          <section class="h-screen bg-purple-950 " >
            <div class="grid grid-cols-1 max-w-screen-xl   mx-auto pt-20 lg:gap-14">
              <div class="h-52 rounded-lg lg:col-span-2 flex justify-between relative">
                <div class="">
                  <h1 class="text-md text-white font-montserrat font-bold px-2 flex items-center space-x-2">Management</h1>
                  <h2 class="text-4xl pl-3 pt-10 tracking-widest leading-tight text-white font-medium font-montserrat">
                    OUR STAFF<br>& STRUCTURE
                  </h2>
                </div>      
                <div class="absolute bottom-10 right-0">
                  <!-- button kiri -->
                  <a
                  class="inline-block rounded-full border border-white bg-transparent p-3 text-white hover:bg-white hover:text-purple-950 focus:outline-none focus:ring active:text-indigo-500"
                  href="#"
                >
                 

                  <svg
                    class="size-5 "
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    transform="rotate(180)"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M14 5l7 7m0 0l-7 7m7-7H3"
                    />
                  </svg>
                </a>

                <!-- button kanan-->
                <a
                  class="inline-block rounded-full border border-white bg-transparent p-3 text-white hover:bg-white hover:text-purple-950 focus:outline-none focus:ring active:text-indigo-500"
                  href="#"
                >
                  

                  <svg
                    class="size-5 rtl:rotate-180"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M14 5l7 7m0 0l-7 7m7-7H3"
                    />
                  </svg>
                </a>
                </div>
              </div>
            </div>

            <div class="grid grid-cols-1 gap-4 max-w-screen-xl mx-auto lg:grid-cols-4 lg:gap-8">
              <div class="h-32 rounded-lg bg-gray-200"><article class="overflow-hidden rounded-xl border-4 border-purple-900 bg-purple-900 shadow-md  hover:shadow-lg hover:border-purple-800 hover:cursor-pointer hover:shadow-slate-800 hover:bg-purple-950">
                <img
                  alt=""
                  src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                  class="h-56 w-full object-cover"
                />
              
                <div class="p-4 sm:p-6">
                  <a href="#">
                    <h3 class="text-md font-montserrat font-bold text-white">
                      Dr. Muh. Yunanto, SE., MM.
                    </h3>
                  </a>
                  
                  <a href="#" class="group inline-flex items-center gap-1 text-sm font-medium text-purple-600">
                    Find out more
              
                    <span aria-hidden="true" class="block transition-all group-hover:ms-0.5 rtl:rotate-180">
                      &rarr;
                    </span>
                  </a>

                  <p class="mt-4 line-clamp-3 text-xs text-slate-300">
                    Kepala. Lab. Manajemen Menengah StaffSite
                  </p>
              
                </div>
              </article></div>
              
              <div class="h-32 rounded-lg bg-gray-200"><article class="overflow-hidden rounded-xl border-4 border-purple-900 bg-purple-900 shadow-md  hover:shadow-lg hover:border-purple-800 hover:cursor-pointer hover:shadow-slate-800 hover:bg-purple-950">
                <img
                  alt=""
                  src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                  class="h-56 w-full object-cover"
                />
              
                <div class="p-4 sm:p-6">
                  <a href="#">
                    <h3 class="text-md font-montserrat font-bold text-white">
                      Hadir Hudiyanto, SE., MMA
                    </h3>
                  </a>
                  
                  <a href="#" class="group inline-flex items-center gap-1 text-sm font-medium text-purple-600">
                    Find out more
              
                    <span aria-hidden="true" class="block transition-all group-hover:ms-0.5 rtl:rotate-180">
                      &rarr;
                    </span>
                  </a>

                  <p class="mt-4 line-clamp-3 text-xs text-slate-300">
                    Wakil Kepala. Lab. Manajemen Menengah
                  </p>
              
                </div>
              </article></div>
              
              <div class="h-32 rounded-lg bg-gray-200"><article class="overflow-hidden rounded-xl border-4 border-purple-900 bg-purple-900 shadow-md  hover:shadow-lg hover:border-purple-800 hover:cursor-pointer hover:shadow-slate-800 hover:bg-purple-950">
                <img
                  alt=""
                  src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                  class="h-56 w-full object-cover"
                />
              
                <div class="p-4 sm:p-6">
                  <a href="#">
                    <h3 class="text-md font-montserrat font-bold text-white">
                      Suwardi, SE
                    </h3>
                  </a>
                  
                  <a href="#" class="group inline-flex items-center gap-1 text-sm font-medium text-purple-600">
                    Find out more
              
                    <span aria-hidden="true" class="block transition-all group-hover:ms-0.5 rtl:rotate-180">
                      &rarr;
                    </span>
                  </a>

                  <p class="mt-4 line-clamp-3 text-xs text-slate-300">
                    Staff Lab. Manajemen Menengah StaffSite
                  </p>
              
                </div>
              </article></div>
              
              <div class="h-32 rounded-lg bg-gray-200"><article class="overflow-hidden rounded-xl border-4 border-purple-900 bg-purple-900 shadow-md  hover:shadow-lg hover:border-purple-800 hover:cursor-pointer hover:shadow-slate-800 hover:bg-purple-950">
                <img
                  alt=""
                  src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                  class="h-56 w-full object-cover"
                />
              
                <div class="p-4 sm:p-6">
                  <a href="#">
                    <h3 class="text-md font-montserrat font-bold text-white">
                      Darmadi, SE., MM
                    </h3>
                  </a>
                  
                  <a href="#" class="group inline-flex items-center gap-1 text-sm font-medium text-purple-600">
                    Find out more
              
                    <span aria-hidden="true" class="block transition-all group-hover:ms-0.5 rtl:rotate-180">
                      &rarr;
                    </span>
                  </a>

                  <p class="mt-4 line-clamp-3 text-xs text-slate-300">
                    Staff Lab. Manajemen Menengah StaffSite
                  </p>
              
                </div>
              </article></div>
            </div>
          </section>
        </main>

        
    
</body>
</html>